@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif !important;
}

footer {
    background-color: #171a1c;
    color: white;
    padding: 30px;
}

.footer_row {
    align-items: center;
}

footer h5,
footer ul {
    margin: 0px;
}

footer li {
    margin-left: 35px;
    display: inline-block;
    color: white !important;
    font-size: 25px;
}

footer li:hover {
    color: orangered !important;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.footer_span {
    color: #ff274b;
}